<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Music Database{% endblock %}</title>
    <!-- 他のCSSやJavaScriptのリンクなど、必要なリソースをこちらに追加 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">

</head>
<body>
    <header>
        <!-- ヘッダー内容、例えばナビゲーションバーやロゴなど -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- フッター内容、例えばコピーライト情報など -->
    </footer>

    <!-- 必要なJavaScriptファイルなどのリンク -->
</body>
</html>
