{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-4">
  <div class="row">
    <!-- タイトルとアーティスト名 -->
    <div class="col-lg-6">
      <h2>{{ album.title }}</h2>
      <h3>{% if album.artist %}{{ album.artist.artist }}{% else %}'Unknown Artist'{% endif %}</h3>
    </div>
    
    <!-- 画像の表示 -->
    <div class="col-lg-6">
      {% if album.image %}
        <img src="{{ album.image.url }}" alt="{{ album.title }}" class="img-fluid">
      {% else %}
        <div class="no-image">No Image Available</div>
      {% endif %}
    </div>
  </div>

  <hr>

  <!-- 詳細情報 -->
  <div class="mt-4">
    <h4>詳細情報</h4>
    <p><strong>カタログ番号:</strong> {{ album.catalog_number }}</p>
    <p><strong>フォーマット:</strong> {% if album.format %}{{ album.format.format }}{% else %}'Unknown Format'{% endif %}</p>
    <p><strong>発売日:</strong> {{ album.release_date }}</p>
    <p><strong>レーベル:</strong> {% if album.label %}{{ album.label.label }}{% else %}'Unknown Label'{% endif %}</p>
    <p><strong>備考:</strong> {{ album.notes }}</p>
    <p><strong>収録曲:</strong> {% if album.songs %}{{ album.songs }}{% else %}'No Songs Listed'{% endif %}</p>
    <p><strong>演奏者:</strong> {% if album.performers %}{{ album.performers }}{% else %}'Unknown Performers'{% endif %}</p>
    <p><strong>クレジット:</strong> {% if album.credits %}{{ album.credits }}{% else %}'No Credits Listed'{% endif %}</p>
    <hr>
    {% if album.youtube_url %}
    <p><strong>YouTube:</strong> <a href="{{ album.youtube_url }}" target="_blank">Click Here for YouTube</a></p>
    {% endif %}
    {% if album.spotify_url %}
    <p><strong>Spotify:</strong> <a href="{{ album.spotify_url }}" target="_blank">Click Here for Spotify</a></p>
    {% endif %}
    {% if album.apple_music_url %}
    <p><strong>Apple Music:</strong> <a href="{{ album.apple_music_url }}" target="_blank">Click Here for Apple Music</a></p>
    {% endif %}
    {% if album.tower_records_music_url %}
    <p><strong>Tower Records Music:</strong> <a href="{{ album.tower_records_music_url }}" target="_blank">Click Here for Tower Records Music</a></p>
    {% endif %}
  </div>

  <!-- 戻るボタン -->
  <div class="mt-3">
    <a href="{% url 'album_list' %}?search={{ search_term }}">戻る</a>
  </div>

</div>
{% endblock %}
